#Main_Contact_Div {
    min-height: 100vh;
}


#InputFeild {
    height: 80vh;
    width: 50vw;
    margin: 14px;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
}

.DataFeild {
    padding: 14px;
    display: flex;
    background: green;
    g
}

