#Main_Experience_Div {
    min-height: 100vh;
    /* background: gray; */
}

.experience-item {
    padding: 14px;
    margin: 14px 3px 26px 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.experience-item h3 {
    margin-bottom: 5px;
}

.experience-item .company {
    font-style: italic;
    margin-bottom: 5px;
}

.experience-item .duration {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.experience-item .description {
    line-height: 1.5;
}