#Main_Experience_Div {
    min-height: 100vh;
    /* background: gray; */
}


.Experience_Card {
    margin: 14px;
    height: 126px;
    width: 126px;
    background: blue;
    border-radius: 14px;
    cursor: pointer;
}
.Experience_Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Experience_Card:hover {
    background: red;
    box-shadow: 3px 3px 14px 3px orchid;
    transition: all 1s ease-in-out;
}

