#Main_Project_Div {
    min-height: 100vh;
}

#Projects_Cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    row-gap: 14px;
    background: gray;
    margin-top: 50px;
}


#Projects_Cards {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: blue;
    border-radius: 14px;
    padding: 14px;
}

#None {
    margin: 14px;
    height: 170px;
    width: 170px;
    background-image: url("../Images/VP.jpeg");
    background-position: center;
    background-size: cover;
}