/* Projects.jsx */
#Main_Project_Div {
    min-height: 100vh;
}





/* Project_Component.jsx */

#Main_Card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 14vw;
    width: 24vw;
    min-height: 100%;
    margin-top: 14px;
    background: red;
}

#Projects_List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 195px;
    height: 285px;
    margin: 14px;
    background: #313131;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.03);
    /* transition: all 0.14s; */
}

.card::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 22px;
    background: conic-gradient(#00f,
            #0ff,
            #0f0,
            #ff0,
            #f00,
            #f0f,
            #00f);
    z-index: -1;
    animation: rotateBorder 4s linear infinite;
}

.card::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #313131;
    border-radius: 18px;
    z-index: -1;
}

.img {
    height: 80%;
    width: 80%;
    border-radius: 14px;
    position: absolute;
    transition: 1s ease-in-out;
}

.textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 1s ease-in-out;
    z-index: 2;
}

.textBox>.text {
    font-weight: bold;
}

#Project_Description {
    height: 60%;
    padding: 14px;
    overflow-y: auto;
    scrollbar-width: none;
}

.card:hover>.textBox {
    opacity: 1;
}

.card:hover>.img {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
}



#OTA {
    background-image: url("../Images/Pyro_Patrol.jpg");
    background-position: center;
    background-size: cover;
    /* box-shadow: 0px 14px 50px  blue, 0px -10px 24px blue; */
    box-shadow: 0px 14px 50px rgb(108, 108, 255), 0px -10px 24px rgb(135, 135, 226);
    box-shadow: 0px 14px 50px orange, 0px -10px 24px skyblue;
}

.card:hover>#OTA {
    background: none;
    box-shadow: none;
}





@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes rotateBorder {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}