#Main_Skill_Div {
    min-height: 100vh;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}


/* From Uiverse.io by JustCode14 */
.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transition-timing-function: cubic-bezier(0.61, 0.98, 0.48, 1.01);
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotate(180deg) rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-front {
    background: #fff;
    color: #000;
}

.flip-card-back {
    background: #000;
    color: #fff;
    transform: rotateY(180deg);
}



.flip-card-front {
    background: linear-gradient(135deg, #e0eafc, #cfdef3, #e0eafc);
    color: #000;
    background-size: 400% 400%;
    animation: bubbleShift 5s ease infinite;
}

.flip-card-back {
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb, #a1c4fd);
    color: #000;
    background-size: 400% 400%;
    animation: bubbleShift 5s ease infinite;
}

@keyframes bubbleShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}