#Main_Skill_Div {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.Skill_Card_List {
    justify-items: center;
    margin-right: 50px;
    margin-left: 50px;
    animation: fadeIn 1.5s ease-in-out forwards;
}

#Python{
    animation: fadeIn 1s ease-in-out forwards;
}
#Pytest{
    animation: fadeIn 1.5s ease-in-out forwards;
}

.Skill_Card {
    height: 100px;
    width: 100px;
    border-radius: 14px;
    align-content: center;
    justify-items: center;
    background: skyblue;
}

.Skill_Card:hover {
    background: blue;
    transition: all ease-in-out 1s;
}

.Skill_Name .hover-text {
    display: none;
}

.Skill_Name .default-text {
    display: inline;
}

.Skill_Card:hover+.Skill_Name .default-text {
    display: none;
}

.Skill_Card:hover+.Skill_Name .hover-text {
    display: inline;
}


.Main_SkillAnimation {
    position: relative;
    width: 150px;
    height: 150px;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    animation: rotate_3922 1.2s linear infinite;
    background-image: linear-gradient(red, yellow, blue);
    box-shadow: skyblue 0px 0px 26px 14px, cyan 0px 0px 26px 14px;
}

.container span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
    filter: blur(20px);
}

.container::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100px;
    height: 100px;
    background-color: black;
    border: solid 1px yellow;
    border-radius: 50%;
}

.Percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: bold;
    color: white;
    z-index: 10;
    pointer-events: none;
}

@keyframes rotate_3922 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}